ARC_RPC_URL=https://rpc.testnet.arc.network
DEPLOYER_PRIVATE_KEY=
# Existing ARC-testnet W3 ERC-20 address. Leave blank to deploy TestW3.
W3_TOKEN=
# Only used when W3_TOKEN is blank (18 decimals).
INITIAL_W3_SUPPLY=100000000
